<form align="center" action="JoinNode" method='get'>
    IP:PORT=<input name="target" >
    <input type="submit" value="送出" >
</form>
<br>
<form align="center" action="index" method='post'>
    登記=<input name="data" >
    <input type="submit" value="送出" >
</form>

<table align="center" border="1">
    <tr>
        <td>height</td>
        <td>time</td>
        <td>txs</td>
    </tr>
    {% for box in blocks %}
    <tr>
        <td>{{box.pb2.height}}</td>
        <td>{{box.time}}</td>
        <td>
        {% for tx in box.txs %}
            時間:{{tx.time}}<br>
            內容:{{tx.body}}<br>
        {% endfor %}
        </td>
    </tr>
    {% endfor %}
</table>



